:root
{
    --title-background-color : #BC6C25;
    --title-color : #FEFAE0;
    --background-color : #283618;
    --main-color : #DDA15E;
    --link-color : #606C38;
    --title-gap : 5%;
}

header
{
    background-color: var(--title-background-color);
    
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: var(--title-gap);
    
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    
    margin-bottom: 2%;

    border-radius: 0 0 10px 10px;
    
    a
    {
        display: inline;
        width: calc((100% - var(--title-gap)*3)/4);
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        background-color: var(--background-color);
        color: var(--title-color);

        border-radius: 5px;
    }
    a:hover
    {
        color: var(--link-color);
    }

    .active
    {
        border: 3px solid var(--title-color) ;
    }
}

body
{
    background-color: var(--background-color);
    height: 100%;
    margin: 0 0 5% 0;

    font-family: Verdana, sans-serif;

    text-align: left;
    vertical-align: center;
}

.main-text
{
    margin-left: 25%;
    margin-right: 25%;
    color: var(--main-color);
}

.field
{
    border: 1px dotted var(--main-color);
    border-radius: 10px;
    
    background-color: var(--title-background-color);
    color: var(--background-color);
    
    margin-bottom: 1%;
    padding: 1%;
}

h2
{
    color: var(--title-color);
    text-align: center;
    margin: 0;
    margin-bottom: 2%;
}

a
{
    color: var(--link-color);
}

hr
{
    margin-bottom: 2%;
    margin-top: 2%;
}