:root
{
    --title-background-color : #000000;
    --title-background-active-color : #444444;
    --title-color : #ffffff;
    
    --background-color : #dddddd;
    --main-color : #111111;
    
    --project-highlight-background-color : #cccccc;
    --main-padding : 0 10% 0 10%;
}

html
{
    height: 100%;
}

body
{
    color: var(--main-color);
    background-color: var(--background-color);
    
    min-height: 100%;
    height: fit-content;
    margin: 0;
    
    font-family: Verdana, sans-serif;
    font-size: 1.2rem;
    
    display: flex;
    flex-direction: column;
}

header
{
    background-color: var(--title-background-color);
    margin-bottom: 2%;

    display: flex;
    flex-direction: row;
    
    flex-basis: fit-content;
    flex-shrink: 0;

    padding: var(--main-padding);
    
    align-items: center;

    h1
    {
        color: var(--title-color);

        width: fit-content;
        flex: initial;
        
        font-size: large;
    }

    .menu-bar
    {
        display: flex;
        flex-direction: row-reverse;
        height: 100%;

        flex: 1 1 auto;

        a
        {
            margin-top: 0;
            margin-bottom: 0;

            padding: 1rem;

            background-color: var(--title-background-color);
            color: var(--title-color);

            text-decoration: none;
            align-content: center;
        }

        a:hover, .active
        {
            background-color: var(--title-background-active-color);
        }
    }
}

.main-text
{
    padding: var(--main-padding);
    text-align: left;
    
    flex: 0 1 auto;
    
    a
    {
        color: var(--main-color);
    }
}

.hilights
{
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 5%;
}

.project-hightlight
{
    background-color: var(--project-highlight-background-color);
    
    display: flex;
    flex-direction: column;
    
    max-width: 30%;

    h3
    {
        text-align: center;
    }
    
    img
    {
        object-fit: contain;
        align-content: flex-start;
        max-width: 100%;
        height: 100%;
        flex: 1 1 auto;
    }
    
    hr
    {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    p
    {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.personnal-description
{
    display: flex;
    flex-direction: row;
    height: 1%;
    align-items: center;
    
    gap: 1%;
    
    img
    {
        object-fit: cover;
        
        width: 10%;
        flex-shrink: 0;
        
        border-radius: 50%;
    }
    
    p
    {
        flex-shrink: 1;
        flex-grow: 8;
        height: min-content;
        flex-wrap: wrap;
    }
}