:root
{
    --title-background-color : #000000;
    --title-background-active-color : #444444;
    --title-color : #ffffff;
    
    --background-color : #dddddd;
    --main-color : #111111;
    
    --project-highlight-background-color : #cccccc;
    --main-padding : 0 10% 0 10%;
}

header
{
    background-color: var(--title-background-color);
    margin-bottom: 2%;
    
    display: flex;
    flex-direction: row;
    
    padding: var(--main-padding);
    
    h1
    {
        color: var(--title-color);
        
        width: fit-content;
        flex: initial;
        
        align-content: center;
    }

    .menu-bar
    {
        display: flex;
        flex-direction: row-reverse;
        
        flex: auto;
        
        a
        {
            margin-top: 0;
            margin-bottom: 0;
            
            padding: 1rem;
            
            background-color: var(--title-background-color);
            color: var(--title-color);
            
            text-decoration: none;
        }

        a:hover, .active
        {
            background-color: var(--title-background-active-color);
        }
    }
}

body
{
    color: var(--main-color);
    background-color: var(--background-color);
    
    height: 100%;
    
    font-family: Verdana, sans-serif;
    font-size: 1.2rem;
}

.main-text
{
    padding: var(--main-padding);
    text-align: left;
}

.hilights
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: inherit;

    gap: 5%;
}

.project-hightlight
{
    background-color: var(--project-highlight-background-color);

    h3
    {
        text-align: center;
    }
    
    img
    {
        object-fit: cover;
        max-width: 100%;
        height: auto;
        flex: 1 1 auto;
    }
}

hr
{
    margin-bottom: 2%;
    margin-top: 2%;
}