@import "main_style.css";

.project-header
{
    padding: var(--main-padding);
    text-align: center;
    
    border-radius: 11%;

    background-repeat: no-repeat;
    background-position-x: center;
    background-clip: content-box;

    color: white;
    
    a
    {
        text-decoration: none;
    }

    i
    {
        color: white;
    }
}

.asteroid
{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("../ressources/Asteroids/asteroids_horizontal.png");
    background-size: auto 100%;
    
    color: greenyellow;
    i
    {
        color: greenyellow;
    }
}
.den
{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
    url("../ressources/Den/den_thumbmail.png");
    background-position-y: 5%;

    color: var(--main-color);
    i
    {
        color: var(--main-color);
    }
}
.gvz
{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("../ressources/GenVsZomb/GvZ_banner.png");
}
.hc
{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("../ressources/HorseCandy/hc_thumbmail.png");
    background-size: auto 100%;
}
.hourglass
{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("../ressources/Hourglass/hourglass_horizontal.png");
    background-position-y: 98%;
}
.lt
{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("../ressources/LibertyTrial/horizontal.png");
    background-size: auto 100%;
}
.mA
{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("../ressources/MinitASCII/minit_ascii_thumbmail.png");
}
.ntfc
{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("../ressources/NoTimeForCreeps/ntfc_thumbmail.png");
}
.pi
{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("../ressources/PartyIntruder/pi_horizontal.png");
    background-size: auto 100%;
}

.project-assets
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    
    gap: 5%;

    img
    {
        object-fit: scale-down;
        object-position: center;
        
        transform-origin: bottom;
        z-index: auto;
        
        transition: transform 1s;

        min-width: 0;
        width: 100%;
    }
    
    img:hover
    {
        transform: scale(120%);
        z-index: 10;
    }
}

#fullscreen-box
{
    position: fixed; z-index: 999;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    
    /* (A2) BACKGROUND */
    background: rgba(0, 0, 0, 0.5);

    /* (A3) CENTER IMAGE ON SCREEN */
    display: flex;
    align-items: center;

    /* (A4) HIDDEN BY DEFAULT */
    visibility: hidden;
    opacity: 0;

    /* (A5) SHOW/HIDE ANIMATION */
    transition: opacity ease 0.4s;

    img {
        /* (B1) DIMENSIONS */
        width: 100%;
        height: 100%;

        /* (B2) IMAGE FIT */
        /* contain | cover | fill | scale-down */
        object-fit: scale-down;
    }
}

#fullscreen-box.show
{
    visibility: visible;
    opacity: 1;
}

hr
{
    margin-top: 4%;
    margin-bottom: 4%;
}

.embed
{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    height: auto;
}